.app {
  height: calc(100vh - 60px);
  color: #efefef;
}

.treeRoot {
  margin: 0;
  padding: 0 20px 0 20px;

  li {
    list-style-type: none;
    width: 100%;
  }

  * {
    margin: 0;
    padding: 0;
  }
}

.current {
  background-color: #f3f3f3;
  margin: 8px;
  padding: 8px;
}

.currentLabel {
  font-weight: bold;
  margin-inline-start: 0.5em;
}

.draggingSource {
  opacity: 0.3;
}

.dropTarget {
  border-radius: 5px;
  background-color: #727272;
}

.buttonWapper {
  display: flex;
  justify-content: space-around;
}

.hidden {
  opacity: 0;
  width: 0 !important;
  pointer-events: none;
}
