.app {
  margin: 100px;
}
.title {
  transition: all 0.3s ease;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  transition: all 0.3s ease;
}

@media (max-width: 958px) {
  .title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .app {
    margin: 50px;
  }
}

@media (min-width: 959px) {
  .title {
    font-size: 40px;
    margin-bottom: 100px;
  }
}
