.container {
  display: flex;
  flex-direction: column;
  // background-color: grey;

  height: 100%;
}

.empty-container {
  display: flex;
  flex-direction: column;
  background-color: #bdc3c9;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

// .image {
//   // width: 100%;
//   background-size: auto;
//   background-image: url("../../assets/3dFileIcon.png");
// }

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  padding: 0;
  text-align: center;
  color: black;
}

.button {
  margin: 1em 0;
  padding: 0.5em;
  width: 10em;
  text-align: center;
  background-color: #99a5af;
  border-radius: 20px;
  cursor: pointer;
}
