pre {
  background-color: #2f353a;
  color: white;
  padding: 1em;
  border-radius: 4px;
  code {
    color: white;
  }
}

code {
  // background-color: #bdc3c9;
  color: #5f6f90;
}
h2 {
  margin-top: 0;
  font-weight: bold;
}

blockquote {
  padding: 0 1em;
  color: #2f353a;
  border-left: 0.25em solid #707d89;
  margin-left: 0;
}
