.sign-box {
  width: 464px;
  padding: 30px;
  background-color: #D3D7DA;
  border: 1px solid #D3D7DA;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.6);

  h1 {
    font-size: 20px;
    margin-bottom: 19px;
  }
}