@media (max-width: 958px) {
  .bigIcon {
    font-size: 30px;
    transition: all 0.35s ease-out;
  }
  .icon {
    transition: all 0.35s ease-out;
  }
  .text {
    white-space: nowrap;
  }
  .noText {
    opacity: 0;
    width: 0;
    white-space: nowrap;
    transition: all 0.35s ease-out;
  }
}

@media (min-width: 959px) {
  .bigIcon,
  .icon {
    transition: all 0.35s ease-out;
  }
  .noText,
  .text {
    white-space: nowrap;
  }
}

.rowFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 0;
  @media (min-width: 959px) {
    gap: 15px;
  }
  &:hover {
    cursor: pointer;
  }
  transition: all 0.35s ease-out;
  transition: gap 0.35s ease-out;
}

.gap {
  gap: 15px;
}
